In [1]:
from pyspark.sql import *
import getpass
username = getpass.getuser()
spark = SparkSession.builder \
    .appName('loans_defaulter') \
    .config('spark.ui.port', '0') \
    .config('spark.shuffle.useOldFetchProtocol','true') \
    .config("spark.sql.warehouse.dir", f"/user/{username}/warehouse") \
    .enableHiveSupport() \
    .master('yarn') \
    .getOrCreate()

In [86]:
spark.stop()

ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:37461)
Traceback (most recent call last):
  File "/opt/spark-3.1.2-bin-hadoop3.2/python/lib/py4j-0.10.9-src.zip/py4j/java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/spark-3.1.2-bin-hadoop3.2/python/lib/py4j-0.10.9-src.zip/py4j/java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
/opt/spark-3.1.2-bin-hadoop3.2/python/pyspark/context.py:464: RuntimeWarning: Unable to cleanly shutdown Spark JVM process. It is possible that the process has crashed, been killed or may also be in a zombie state.
  RuntimeWarning
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:37461)
Traceback (most recent call last):
  File "/opt/spark-3.1.2-bin-hadoop3.2/python/lib/py4j-0.10.9-src.zip/py4j/java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/spark-3.1.2-bin-hadoop3.2/python/lib/py4j-0.10.9-src.zip/py4j/java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:37461)

In [2]:
df = spark.read.load("/user/itv012667/lendingclub/cleaneddata/customers_data")

In [58]:
df.printSchema()

root
 |-- member_id: string (nullable = true)
 |-- emp_title: string (nullable = true)
 |-- emp_length: integer (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_income: float (nullable = true)
 |-- address_state: string (nullable = true)
 |-- address_zipcode: string (nullable = true)
 |-- address_country: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- sub_grade: string (nullable = true)
 |-- verification_status: string (nullable = true)
 |-- total_high_credit_limit: float (nullable = true)
 |-- application_type: string (nullable = true)
 |-- joint_annual_income: float (nullable = true)
 |-- verification_status_joint: string (nullable = true)
 |-- ingest_timestamp: timestamp (nullable = true)

In [59]:
spark.sql("create database itv_012667_lending_club")

Py4JError: An error occurred while calling o825.toString. Trace:
java.lang.IllegalArgumentException: object is not an instance of declaring class
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:750)

In [47]:
spark.sql("use itv_012667_lending_club")

++
||
++
++

In [48]:
spark.sql("show tables")

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
+--------+---------+-----------+

In [51]:
spark.sql("""create external table itv_012667_lending_club.customer_data(
          member_id string,emp_title string,emp_length int,home_ownership string,annual_income float,address_state string,address_zipcode string,address_country string,grade string,sub_grade string,verification_status string,total_high_credit_limit float, application_type string,joint_annual_income float,verification_status_joint string,ingest_date timestamp)stored as parquet
         location '/user/itv012667/lendingclub/cleaneddata/customers_data'
         """)

++
||
++
++

In [52]:
spark.sql("use itv_012667_lending_club ")

++
||
++
++

In [53]:
spark.sql("select * from itv_012667_lending_club.customer_data")

+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+-------------------+-------------------------+-----------+
|           member_id|           emp_title|emp_length|home_ownership|annual_income|address_state|address_zipcode|address_country|grade|sub_grade|verification_status|total_high_credit_limit|application_type|joint_annual_income|verification_status_joint|ingest_date|
+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+-------------------+-------------------------+-----------+
|fcdc404604423e734...|        EMT Advanced|         7|      MORTGAGE|      29000.0|           TN|          385xx|            USA|    E|       E2|           Verified|                91990.0|      Individual|               null|                     null|       null|
|0e88d51358e679291...|Quality & Safety ...|         2|      MORTGAGE|      40000.0|           KY|          402xx|            USA|    D|       D4|    Source Verified|               181904.0|      Individual|               null|                     null|       null|
|adb27d4c73bcaf732...|FINANCIAL SALES C...|         2|      MORTGAGE|      30000.0|           PA|          191xx|            USA|    B|       B1|       Not Verified|                44006.0|      Individual|               null|                     null|       null|
|a4567bba097c4485d...|              master|         9|           OWN|     144000.0|           NJ|          080xx|            USA|    B|       B3|    Source Verified|               255085.0|      Individual|               null|                     null|       null|
|df67c7c441b8d70e3...|Administrative Asst.|         1|      MORTGAGE|      30000.0|           AL|          361xx|            USA|    D|       D2|       Not Verified|               117135.0|      Individual|               null|                     null|       null|
|178d7b53561f545a4...|      Attorney/Owner|        10|      MORTGAGE|      89000.0|           CA|          956xx|            USA|    A|       A3|       Not Verified|                42127.0|      Individual|               null|                     null|       null|
|949c5eadd6a4da2b1...| Office Administrtor|         1|          RENT|      34800.0|           TX|          769xx|            USA|    C|       C2|    Source Verified|                 7500.0|      Individual|               null|                     null|       null|
|0344cf97bfbff94a0...|      AP LTL Analyst|         1|          RENT|      43000.0|           IL|          606xx|            USA|    C|       C1|       Not Verified|                53998.0|      Individual|               null|                     null|       null|
|180b6d49f60388c61...|General Operation...|         1|          RENT|     125000.0|           NC|          275xx|            USA|    D|       D1|       Not Verified|                99420.0|      Individual|               null|                     null|       null|
|b2cce432698a22e8a...|        Deputy Clerk|        10|      MORTGAGE|      49330.0|           OH|          440xx|            USA|    C|       C5|           Verified|               137311.0|      Individual|               null|                     null|       null|
|993895771dff1d159...|                null|         6|          RENT|      30000.0|           WA|          985xx|            USA|    D|       D2|           Verified|                45720.0|      Individual|               null|                     null|       null|
|729001b59eef47e89...|             foreman|        10|      MORTGAGE|      75000.0|           VA|          230xx|            USA|    B|       B3|    Source Verified|                41573.0|      Individual|               null|                     null|       null|
|bb3759a8ceb5b5090...|             Manager|         5|      MORTGAGE|      65000.0|           NY|          120xx|            USA|    A|       A1|       Not Verified|                89926.0|      Individual|               null|                     null|       null|
|a956f2b469514cbfe...|Branch Underwriti...|        10|      MORTGAGE|     140000.0|           NM|          871xx|            USA|    B|       B1|    Source Verified|               237706.0|      Individual|               null|                     null|       null|
|c3911fc5c77a67bd3...|       Senior Pastor|         3|      MORTGAGE|      55000.0|           PA|          176xx|            USA|    A|       A4|           Verified|               232000.0|      Individual|               null|                     null|       null|
|c51575a45ee844f89...|   Medical Assistant|         3|      MORTGAGE|      29000.0|           MI|          494xx|            USA|    C|       C5|    Source Verified|               140404.0|      Individual|               null|                     null|       null|
|ca55068edef2736e0...|             Teacher|         6|      MORTGAGE|      50492.0|           AL|          359xx|            USA|    C|       C3|           Verified|               109784.0|      Individual|               null|                     null|       null|
|9756cbb2472af3023...|          Supervisor|        10|      MORTGAGE|      75000.0|           TX|          760xx|            USA|    C|       C1|       Not Verified|               250875.0|      Individual|               null|                     null|       null|
|c76b3e08d3a66225b...| Assistant Principal|         8|      MORTGAGE|     150000.0|           NJ|          070xx|            USA|    C|       C2|       Not Verified|               554478.0|      Individual|               null|                     null|       null|
|9f299eb7f049e6e16...|Manager of Photog...|         2|          RENT|      86000.0|           NY|          112xx|            USA|    F|       F1|    Source Verified|               117100.0|      Individual|               null|                     null|       null|
+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+-------------------+-------------------------+-----------+
only showing top 20 rows

# Create Loans Table

In [60]:
df = spark.read.load("/user/itv012667/lendingclub/cleaneddata/loans_data")

In [61]:
df.printSchema()

root
 |-- loand_id: string (nullable = true)
 |-- member_id: string (nullable = true)
 |-- loan_amount: float (nullable = true)
 |-- funded_amount: float (nullable = true)
 |-- term: integer (nullable = true)
 |-- int_rate: float (nullable = true)
 |-- installment: float (nullable = true)
 |-- issue_d: string (nullable = true)
 |-- loan_status: string (nullable = true)
 |-- purpose: string (nullable = true)
 |-- title: string (nullable = true)
 |-- ingestTimestamp: timestamp (nullable = true)

In [62]:
spark.sql("use itv_012667_lending_club ")

++
||
++
++

In [68]:
spark.sql("show tables")

+--------------------+-------------+-----------+
|            database|    tableName|isTemporary|
+--------------------+-------------+-----------+
|itv_012667_lendin...|customer_data|      false|
+--------------------+-------------+-----------+

In [69]:
spark.sql("""
create external table itv_012667_lending_club.loans(
loand_id string,member_id string,loan_amount float,funded_amount float,term integer, int_rate float,installment float, issue_d string, loan_status string,purpose string,title string,ingestTimestamp timestamp
)
stored as parquet
location '/user/itv012667/lendingclub/cleaneddata/loans_data'
""")

++
||
++
++

In [70]:
spark.sql("select * from loans")

+--------+--------------------+-----------+-------------+----+--------+-----------+--------+-----------+------------------+--------------------+--------------------+
|loand_id|           member_id|loan_amount|funded_amount|term|int_rate|installment| issue_d|loan_status|           purpose|               title|     ingestTimestamp|
+--------+--------------------+-----------+-------------+----+--------+-----------+--------+-----------+------------------+--------------------+--------------------+
|56633077|b59d80da191f5b573...|     3000.0|       3000.0|   3|    7.89|      93.86|Aug-2015| Fully Paid|       credit_card|Credit card refin...|2024-05-26 20:16:...|
|55927518|202d9f56ecb7c3bc9...|    15600.0|      15600.0|   3|    7.89|     488.06|Aug-2015| Fully Paid|       credit_card|Credit card refin...|2024-05-26 20:16:...|
|56473345|e5a140c0922b554b9...|    20000.0|      20000.0|   3|    9.17|     637.58|Aug-2015| Fully Paid|debt_consolidation|  Debt consolidation|2024-05-26 20:16:...|
|56463188|e12aefc548f750777...|    11200.0|      11200.0|   5|   21.99|     309.27|Aug-2015| Fully Paid|  home_improvement|    Home improvement|2024-05-26 20:16:...|
|56473316|1b3a50d854fbbf97e...|    16000.0|      16000.0|   5|   20.99|     432.77|Aug-2015|Charged Off|debt_consolidation|  Debt consolidation|2024-05-26 20:16:...|
|56663266|1c4329e5f17697127...|    20000.0|      20000.0|   5|   13.33|     458.45|Aug-2015|Charged Off|debt_consolidation|  Debt consolidation|2024-05-26 20:16:...|
|56483027|5026c86ad983175eb...|    10000.0|      10000.0|   3|   12.69|     335.45|Aug-2015| Fully Paid|             other|               Other|2024-05-26 20:16:...|
|56613385|9847d8c1e9d0b2084...|    23400.0|      23400.0|   5|   19.19|     609.46|Aug-2015|    Current|    small_business|            Business|2024-05-26 20:16:...|
|56643620|8340dbe1adea41fb4...|    16000.0|      16000.0|   3|    5.32|     481.84|Jul-2015| Fully Paid|debt_consolidation|  Debt consolidation|2024-05-26 20:16:...|
|56533114|d4de0de3ab7d79ad4...|    25450.0|      25450.0|   3|   27.31|    1043.24|Aug-2015|Charged Off|debt_consolidation|  Debt consolidation|2024-05-26 20:16:...|
|56984127|3df3cdeddb74a8712...|    24000.0|      24000.0|   3|    7.89|     750.86|Aug-2015| Fully Paid|debt_consolidation|  Debt consolidation|2024-05-26 20:16:...|
|56131038|9dd72636b1b4045b4...|    12000.0|      12000.0|   5|   15.61|     289.34|Aug-2015|    Current|       credit_card|Credit card refin...|2024-05-26 20:16:...|
|56452581|1d4e1ef4353b73c00...|    25000.0|      25000.0|   3|   13.33|     846.33|Jul-2015| Fully Paid|  home_improvement|    Home improvement|2024-05-26 20:16:...|
|56685321|6f196952e71277fd4...|    35000.0|      35000.0|   5|   18.55|     899.28|Aug-2015|Charged Off|    small_business|            Business|2024-05-26 20:16:...|
|56563360|9c617cbc6e3e3d6a1...|    25000.0|      25000.0|   5|   21.99|     690.34|Aug-2015|    Current|       credit_card|Credit card refin...|2024-05-26 20:16:...|
|56533113|45eb04dd75400a942...|    20000.0|      20000.0|   3|   13.99|     683.46|Aug-2015| Fully Paid|debt_consolidation|  Debt consolidation|2024-05-26 20:16:...|
|56904118|08d233c81f9e50726...|     9525.0|       9525.0|   3|   12.29|     317.69|Aug-2015|Charged Off|debt_consolidation|  Debt consolidation|2024-05-26 20:16:...|
|56473361|8ff4d0ed17a1cab92...|     4200.0|       4200.0|   3|   15.61|     146.86|Aug-2015| Fully Paid|       credit_card|Credit card refin...|2024-05-26 20:16:...|
|56021410|aec13cfd611b2cfea...|     8625.0|       8625.0|   3|   16.55|     305.58|Aug-2015| Fully Paid|debt_consolidation|  Debt consolidation|2024-05-26 20:16:...|
|56473332|9ba8c96ccba6cd1f0...|    19000.0|      19000.0|   5|   17.57|     478.05|Jul-2015|    Current|       credit_card|Credit card refin...|2024-05-26 20:16:...|
+--------+--------------------+-----------+-------------+----+--------+-----------+--------+-----------+------------------+--------------------+--------------------+
only showing top 20 rows

# Loan Repayments

In [71]:
df = spark.read.load("/user/itv012667/lendingclub/cleaneddata/loan_repayment")

In [72]:
df.show()

+--------+------------------------+-----------------------+-----------------------+-------------+------------+-----------------+------------------+--------------------+
| loan_id|total_principal_received|total_interest_received|total_late_fee_received|total_payment|last_payment|last_payment_date|next_payment_dates|         ingest_time|
+--------+------------------------+-----------------------+-----------------------+-------------+------------+-----------------+------------------+--------------------+
|28674390|                 7884.28|                5178.41|                    0.0|    13062.689|      482.23|         Nov-2016|              null|2024-05-27 08:10:...|
|28563513|                  9000.0|                 955.61|                    0.0|      9955.61|     6420.29|         Nov-2015|              null|2024-05-27 08:10:...|
|28694706|                 22125.0|                 751.39|                    0.0|     22876.39|    22073.85|         Dec-2014|              null|2024-05-27 08:10:...|
|28722876|                 3196.23|                1259.77|                    0.0|       4456.0|      178.24|         Nov-2016|              null|2024-05-27 08:10:...|
|28644402|                 26400.0|                 2150.7|                    0.0|      28550.7|    19292.99|         Oct-2015|              null|2024-05-27 08:10:...|
|28553318|                 7178.95|                 2504.6|                    0.0|     9683.551|      645.57|         Jan-2016|              null|2024-05-27 08:10:...|
|28623647|                 17000.0|                1754.39|                    0.0|     18754.39|      520.79|         Oct-2017|              null|2024-05-27 08:10:...|
|28784250|                 15000.0|                3773.24|                    0.0|     18773.24|      953.76|         Nov-2016|              null|2024-05-27 08:10:...|
|28704129|                 25000.0|                8858.87|                    0.0|     33858.87|    18122.31|         Nov-2016|              null|2024-05-27 08:10:...|
|28764447|                  6850.0|                1459.59|                    0.0|      8309.59|      230.36|         Oct-2017|              null|2024-05-27 08:10:...|
|27712114|                 28000.0|                3836.38|                    0.0|    31836.379|    26200.46|         Jul-2015|              null|2024-05-27 08:10:...|
|28482758|                  3500.0|                 359.46|                    0.0|      3859.46|      427.14|         Jul-2017|              null|2024-05-27 08:10:...|
|28594479|                  9600.0|                1437.29|                    0.0|     11037.29|     5862.57|         Mar-2016|              null|2024-05-27 08:10:...|
|28724355|                 28000.0|                8154.67|                    0.0|     36154.67|    19709.15|         Nov-2016|              null|2024-05-27 08:10:...|
|28774335|                  8500.0|                 241.65|                    0.0|      8741.65|     8191.89|         Jan-2015|              null|2024-05-27 08:10:...|
|28654395|                18134.86|               10868.86|                    0.0|    29003.719|      547.24|         Mar-2019|          Apr-2019|2024-05-27 08:10:...|
|28664261|                 1269.44|                 929.62|                    0.0|      2199.06|      733.02|         Jan-2015|              null|2024-05-27 08:10:...|
|28624211|                 10000.0|                 1648.6|                    0.0|      11648.6|      386.67|         Jun-2017|              null|2024-05-27 08:10:...|
|28683824|                 10000.0|                2146.97|                    0.0|     12146.97|      336.53|         Oct-2017|              null|2024-05-27 08:10:...|
|28604318|                 15000.0|                2850.69|                    0.0|     17850.69|      495.59|         Oct-2017|              null|2024-05-27 08:10:...|
+--------+------------------------+-----------------------+-----------------------+-------------+------------+-----------------+------------------+--------------------+
only showing top 20 rows

In [73]:
df.printSchema()

root
 |-- loan_id: string (nullable = true)
 |-- total_principal_received: float (nullable = true)
 |-- total_interest_received: float (nullable = true)
 |-- total_late_fee_received: float (nullable = true)
 |-- total_payment: float (nullable = true)
 |-- last_payment: float (nullable = true)
 |-- last_payment_date: string (nullable = true)
 |-- next_payment_dates: string (nullable = true)
 |-- ingest_time: timestamp (nullable = true)

In [74]:
spark.sql("use itv_012667_lending_club")

++
||
++
++

In [75]:
spark.sql("""create external table loan_repayments (
loan_id string,total_principal_received float,total_late_fee_received float, total_payment float,last_payment float,last_payment_date string,next_payment_dates string,ingest_time timestamp
)
stored as parquet
location '/user/itv012667/lendingclub/cleaneddata/loan_repayment'
""")

++
||
++
++

In [76]:
spark.sql("select * from loan_repayments")

+--------+------------------------+-----------------------+-------------+------------+-----------------+------------------+--------------------+
| loan_id|total_principal_received|total_late_fee_received|total_payment|last_payment|last_payment_date|next_payment_dates|         ingest_time|
+--------+------------------------+-----------------------+-------------+------------+-----------------+------------------+--------------------+
|28674390|                 7884.28|                    0.0|    13062.689|      482.23|         Nov-2016|              null|2024-05-27 08:10:...|
|28563513|                  9000.0|                    0.0|      9955.61|     6420.29|         Nov-2015|              null|2024-05-27 08:10:...|
|28694706|                 22125.0|                    0.0|     22876.39|    22073.85|         Dec-2014|              null|2024-05-27 08:10:...|
|28722876|                 3196.23|                    0.0|       4456.0|      178.24|         Nov-2016|              null|2024-05-27 08:10:...|
|28644402|                 26400.0|                    0.0|      28550.7|    19292.99|         Oct-2015|              null|2024-05-27 08:10:...|
|28553318|                 7178.95|                    0.0|     9683.551|      645.57|         Jan-2016|              null|2024-05-27 08:10:...|
|28623647|                 17000.0|                    0.0|     18754.39|      520.79|         Oct-2017|              null|2024-05-27 08:10:...|
|28784250|                 15000.0|                    0.0|     18773.24|      953.76|         Nov-2016|              null|2024-05-27 08:10:...|
|28704129|                 25000.0|                    0.0|     33858.87|    18122.31|         Nov-2016|              null|2024-05-27 08:10:...|
|28764447|                  6850.0|                    0.0|      8309.59|      230.36|         Oct-2017|              null|2024-05-27 08:10:...|
|27712114|                 28000.0|                    0.0|    31836.379|    26200.46|         Jul-2015|              null|2024-05-27 08:10:...|
|28482758|                  3500.0|                    0.0|      3859.46|      427.14|         Jul-2017|              null|2024-05-27 08:10:...|
|28594479|                  9600.0|                    0.0|     11037.29|     5862.57|         Mar-2016|              null|2024-05-27 08:10:...|
|28724355|                 28000.0|                    0.0|     36154.67|    19709.15|         Nov-2016|              null|2024-05-27 08:10:...|
|28774335|                  8500.0|                    0.0|      8741.65|     8191.89|         Jan-2015|              null|2024-05-27 08:10:...|
|28654395|                18134.86|                    0.0|    29003.719|      547.24|         Mar-2019|          Apr-2019|2024-05-27 08:10:...|
|28664261|                 1269.44|                    0.0|      2199.06|      733.02|         Jan-2015|              null|2024-05-27 08:10:...|
|28624211|                 10000.0|                    0.0|      11648.6|      386.67|         Jun-2017|              null|2024-05-27 08:10:...|
|28683824|                 10000.0|                    0.0|     12146.97|      336.53|         Oct-2017|              null|2024-05-27 08:10:...|
|28604318|                 15000.0|                    0.0|     17850.69|      495.59|         Oct-2017|              null|2024-05-27 08:10:...|
+--------+------------------------+-----------------------+-------------+------------+-----------------+------------------+--------------------+
only showing top 20 rows

# Delinq table

In [3]:
df = spark.read.load("/user/itv012667/lendingclub/cleaneddata/loans_defaulter_delinq_parquet/loans_defaulters_delinq_parquet")

In [4]:
df.show()

+--------------------+-----------+-----------+----------------------+
|           member_id|delinq_2yrs|delinq_amnt|mths_since_last_delinq|
+--------------------+-----------+-----------+----------------------+
|9cb79aa7323e81be1...|          2|        0.0|                     0|
|aac68850fdac09fd0...|          1|        0.0|                     0|
|c89986155a070db2e...|          1|        0.0|                    15|
|4e1c30a5dfe9f1e20...|          0|        0.0|                    34|
|1eef79a0e79b72c7a...|          1|        0.0|                     0|
|ec1953dba2cfb89ad...|          2|        0.0|                     0|
|3712c9da85e54b7b1...|          1|        0.0|                     0|
|030e5c9c411c936c5...|          2|        0.0|                     0|
|252736f8401b6b046...|          2|        0.0|                     0|
|2d73c65a7b7d1a351...|          1|        0.0|                     0|
|4c5cc017a06ad9cee...|          1|        0.0|                     0|
|b2ae51f7010bda712...|          2|        0.0|                     0|
|e3fda103b038638f2...|          1|        0.0|                     0|
|c1553a3186575c87d...|          2|        0.0|                     0|
|e889fe8e41d1fc74a...|          1|        0.0|                     0|
|66f29d01599e4497e...|          1|        0.0|                     0|
|8d52067d7d93c7ba1...|          2|        0.0|                     0|
|aff24625c7c7a2108...|          3|        0.0|                     0|
|60cf7ca69b4fc0b04...|          2|        0.0|                     0|
|5b7cc2ef3ee4be20e...|          1|        0.0|                     0|
+--------------------+-----------+-----------+----------------------+
only showing top 20 rows

In [5]:
df.printSchema()

root
 |-- member_id: string (nullable = true)
 |-- delinq_2yrs: integer (nullable = true)
 |-- delinq_amnt: float (nullable = true)
 |-- mths_since_last_delinq: integer (nullable = true)

In [6]:
spark.sql("use itv_012667_lending_club")

++
||
++
++

In [7]:
spark.sql("""create external table itv_012667_lending_club.loans_defaulters_delinq(
member_id string,delinq_2yrs integer, delinq_amnt float, mths_since_last_delinq integer
)
stored as parquet 
location '/user/itv012667/lendingclub/cleaneddata/loans_defaulter_delinq_parquet/loans_defaulters_delinq_parquet'
""")

++
||
++
++

In [8]:
spark.sql("select * from itv_012667_lending_club.loans_defaulters_delinq")

+--------------------+-----------+-----------+----------------------+
|           member_id|delinq_2yrs|delinq_amnt|mths_since_last_delinq|
+--------------------+-----------+-----------+----------------------+
|9cb79aa7323e81be1...|          2|        0.0|                     0|
|aac68850fdac09fd0...|          1|        0.0|                     0|
|c89986155a070db2e...|          1|        0.0|                    15|
|4e1c30a5dfe9f1e20...|          0|        0.0|                    34|
|1eef79a0e79b72c7a...|          1|        0.0|                     0|
|ec1953dba2cfb89ad...|          2|        0.0|                     0|
|3712c9da85e54b7b1...|          1|        0.0|                     0|
|030e5c9c411c936c5...|          2|        0.0|                     0|
|252736f8401b6b046...|          2|        0.0|                     0|
|2d73c65a7b7d1a351...|          1|        0.0|                     0|
|4c5cc017a06ad9cee...|          1|        0.0|                     0|
|b2ae51f7010bda712...|          2|        0.0|                     0|
|e3fda103b038638f2...|          1|        0.0|                     0|
|c1553a3186575c87d...|          2|        0.0|                     0|
|e889fe8e41d1fc74a...|          1|        0.0|                     0|
|66f29d01599e4497e...|          1|        0.0|                     0|
|8d52067d7d93c7ba1...|          2|        0.0|                     0|
|aff24625c7c7a2108...|          3|        0.0|                     0|
|60cf7ca69b4fc0b04...|          2|        0.0|                     0|
|5b7cc2ef3ee4be20e...|          1|        0.0|                     0|
+--------------------+-----------+-----------+----------------------+
only showing top 20 rows

# public records data

In [9]:
df = spark.read.load("/user/itv012667/lendingclub/cleaneddata/loans_defaulters_detail_records_enq_parquet")

In [10]:
df.show()

+--------------------+-------+--------------------+--------------+
|           member_id|pub_rec|pub_rec_bankruptcies|inq_last_6mths|
+--------------------+-------+--------------------+--------------+
|0dd2bbc517e3c8f9e...|      1|                   1|             3|
|458458599d3df3bfc...|      1|                   1|             1|
|f1efcf7dfbfef21be...|      0|                   0|             1|
|c89986155a070db2e...|      0|                   0|             1|
|e88945f86a96f8d71...|      0|                   0|             1|
|4e1c30a5dfe9f1e20...|      0|                   0|             1|
|76cbefe31f7834f47...|      0|                   0|             1|
|47d002f59a274c6f2...|      0|                   0|             1|
|09a1c6855801dad88...|      1|                   1|             0|
|56d4375718ad6940d...|      1|                   1|             0|
|6ebc82410b3dc9dcb...|      0|                   0|             3|
|41a307b3c2c66aad8...|      1|                   1|             0|
|d168c599b8aea3c0b...|      0|                   0|             1|
|657a760b1d52967fb...|      0|                   0|             1|
|b7d9da217c8256cfd...|      0|                   0|             1|
|a67f439593858be7c...|      0|                   0|             1|
|3a4aac093cddcdb0c...|      1|                   1|             0|
|23bb4e7a5ed15c1fc...|      0|                   0|             1|
|0b55b1efb75760dc3...|      0|                   0|             1|
|04eedd3c6357df852...|      0|                   0|             1|
+--------------------+-------+--------------------+--------------+
only showing top 20 rows

In [11]:
df.printSchema()

root
 |-- member_id: string (nullable = true)
 |-- pub_rec: integer (nullable = true)
 |-- pub_rec_bankruptcies: integer (nullable = true)
 |-- inq_last_6mths: integer (nullable = true)

In [12]:
spark.sql("""create external table loans_defaulters_detail_rec_enq(
member_id string,
pub_rec integer,
pub_rec_bankruptcies integer,
inq_last_6mths integer)
stored as parquet
location '/user/itv012667/lendingclub/cleaneddata/loans_defaulters_detail_records_enq_parquet'""")

++
||
++
++

In [14]:
spark.sql("select * from loans_defaulters_detail_rec_enq")

+--------------------+-------+--------------------+--------------+
|           member_id|pub_rec|pub_rec_bankruptcies|inq_last_6mths|
+--------------------+-------+--------------------+--------------+
|0dd2bbc517e3c8f9e...|      1|                   1|             3|
|458458599d3df3bfc...|      1|                   1|             1|
|f1efcf7dfbfef21be...|      0|                   0|             1|
|c89986155a070db2e...|      0|                   0|             1|
|e88945f86a96f8d71...|      0|                   0|             1|
|4e1c30a5dfe9f1e20...|      0|                   0|             1|
|76cbefe31f7834f47...|      0|                   0|             1|
|47d002f59a274c6f2...|      0|                   0|             1|
|09a1c6855801dad88...|      1|                   1|             0|
|56d4375718ad6940d...|      1|                   1|             0|
|6ebc82410b3dc9dcb...|      0|                   0|             3|
|41a307b3c2c66aad8...|      1|                   1|             0|
|d168c599b8aea3c0b...|      0|                   0|             1|
|657a760b1d52967fb...|      0|                   0|             1|
|b7d9da217c8256cfd...|      0|                   0|             1|
|a67f439593858be7c...|      0|                   0|             1|
|3a4aac093cddcdb0c...|      1|                   1|             0|
|23bb4e7a5ed15c1fc...|      0|                   0|             1|
|0b55b1efb75760dc3...|      0|                   0|             1|
|04eedd3c6357df852...|      0|                   0|             1|
+--------------------+-------+--------------------+--------------+
only showing top 20 rows